
html * {
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Ubuntu", sans-serif;
  color: #3e3947;
  background-color: white;
}

body, html {
  overflow: visible;
  max-height: 100%;
  height: 100%;
  width: 100%
}
a {
  color: #3e3947;
  text-decoration: none;
}
img {
  max-width: 100%;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #393a3f inset !important;
}
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}
.cd-img-replace {
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.cd-section {
  min-height: 100%;
  position: relative;
  padding: 2em 0;
}
.trans {
  position: absolute;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(1,1,1,0), rgba(1,1,1,0.6));
  z-index: 100;
}
/*.cd-section h1, .cd-section p {
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  }*/
  .cd-scroll-down {
    position: absolute;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 20px;
    width: 38px;
    height: 44px;
    background: url("../img/cd-arrow-bottom.svg") no-repeat center center;
  }
  .cd-nav-trigger {
    display: none;
  }
  .no-touch #cd-vertical-nav {
    position: fixed;
    right: 40px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 999;
  }
  .no-touch #cd-vertical-nav li {
    text-align: right;
  }
  .no-touch #cd-vertical-nav a {
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-size: 0.6em;
    height: 12px;
  }
  .no-touch #cd-vertical-nav a:after {
    content: "";
    display: table;
    clear: both;
  }
  .no-touch #cd-vertical-nav a span {
    float: right;
    display: inline-block;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
  }
  .no-touch #cd-vertical-nav a:hover .cd-dot {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    background-color: rgba(0,88,169,1);
  }
  .no-touch #cd-vertical-nav a:hover .cd-label {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  .no-touch #cd-vertical-nav a:hover .cd-label {
    opacity: 1;
  }
  .no-touch #cd-vertical-nav a.is-selected .cd-dot {
    background-color: rgba(0,0,0,0);
    border: 2px solid rgb(91, 148, 201);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
  .no-touch #cd-vertical-nav .cd-dot {
    position: relative;
    top: 8px;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: rgba(0,88,169,0.2);
    -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
    -moz-transition: -moz-transform 0.2s, background-color 0.5s;
    transition: transform 0.2s, background-color 0.5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  .no-touch #cd-vertical-nav .cd-label {
    position: relative;
    margin-right: 10px;
    padding: .4em .5em;
    color: rgb(0,88,169);
    font-size: 14px;
    font-size: 1.5em;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    opacity: 0;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  .touch .cd-nav-trigger {
    display: none;
    z-index: 2;
    position: fixed;
    bottom: 30px;
    right: 5%;
    height: 44px;
    width: 44px;
    border-radius: 0.25em;
    background: rgba(255, 255, 255, 0.9);
  }
  .touch .cd-nav-trigger span {
    position: absolute;
    height: 4px;
    width: 4px;
    background-color: #3e3947;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .touch .cd-nav-trigger span::before, .touch .cd-nav-trigger span::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: inherit;
    border-radius: inherit;
  }
  .touch .cd-nav-trigger span::before {
    top: -9px;
  }
  .touch .cd-nav-trigger span::after {
    bottom: -9px;
  }

  .touch #cd-vertical-nav {
    position: fixed;
    z-index: 1;
    right: 5%;
    bottom: 30px;
    width: 90%;
    max-width: 400px;
    max-height: 90%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transform-origin: right bottom;
    -moz-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    -o-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    border-radius: 0.25em;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .touch #cd-vertical-nav a {
    display: block;
    padding: 1em;
    border-bottom: 1px solid rgba(62, 57, 71, 0.1);
  }
  .touch #cd-vertical-nav a span:first-child {
    display: none;
  }
  .touch #cd-vertical-nav a.is-selected span:last-child {
    color: #d88683;
  }
  .touch #cd-vertical-nav.open {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  .touch #cd-vertical-nav.open + .cd-nav-trigger {
    background-color: transparent;
  }
  .touch #cd-vertical-nav.open + .cd-nav-trigger span {
    background-color: rgba(62, 57, 71, 0);
  }
  .touch #cd-vertical-nav.open + .cd-nav-trigger span::before, .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
    background-color: #3e3947;
    height: 3px;
    width: 20px;
    border-radius: 0;
    left: -8px;
  }
  .touch #cd-vertical-nav.open + .cd-nav-trigger span::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 1px;
  }
  .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    bottom: 0;
  }
  .touch #cd-vertical-nav li:last-child a {
    border-bottom: none;
  }

  @media only screen and (min-width: 768px) {
    .touch .cd-nav-trigger, .touch #cd-vertical-nav {
      bottom: 40px;
    }
  }
  .navbar-brand{
    padding: 0px;
  }
  .navbar-brand img{
    max-height: 100%;
  }
  .navbar-default{
    background: transparent;
    border: 0px solid white;
    padding: 5em 1em 1em 1em;
  }
  .section2 {
    background: url(../Pictures/home-back.png);
    background-repeat: no-repeat;
    min-height: fit-content;
    min-height: -moz-fit-content;
    max-height: 100%;
    background-size: 110%;
    background-position: 50% 15px;
    outline: 0;
  }
  .section2 p:nth-of-type(1) {
    font-family: Gill Sans MT;
    font-size: 16px;
    color: black;
    line-height: 1.4em;
    text-align: center;
    width: 100%;
    margin: 2% auto 4%;
  }
  .section3 {
    background-image: url(../Pictures/title_exp.png),url(../Pictures/exp1.png);
    background-repeat: no-repeat;
    background-size: 77%,cover;
    background-position: 50% 40px,center;
    min-height: fit-content;
    min-height: -moz-fit-content;
    max-height: 100%;
    padding-top: 18%;
  }
  .section3 h3 {
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .top-navbar a{
    font-size: 1.5em;
    text-transform: uppercase;
    color: white;
  }
  @font-face {
    font-family: bodoni;
    src: url('../fonts/Bodoni.ttf');
  }
  .part1 h1 {
    font-family: bodoni;
    color: rgb(0,88,169);
    font-style: italic;
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin: 16% auto 0;
  }
  .part1 p{
    padding-top: 2em;
  }
  .part2 {
    background: url(../Pictures/qw1.png);
    background-repeat: no-repeat;
    background-position: 50% 15%;
    background-size: 4em;
    padding: 3em 4em 0 4em;
  }
  .part2 h1 {
    font-family: Gill Sans MT;
    color: rgb(195,195,195);
    font-size: 16px;
    width: 100%;
    margin: 12% auto 0;
    text-align: center;
  }
  .part2 h5 {
    font-family: bodoni;
    color: rgb(195,195,195);
    text-align: center;
    font-size: 14px;
    font-style: italic;
  }
  .section3 h3, .section4 h1 {
    font-family: bodoni;
    color: rgb(0,88,169);
    font-style: italic;
  }
  .section3 h1 {
    font-size: 15px;
    font-family: Gill Sans Mt;
    text-transform: uppercase;
    color: white;
    text-align: left;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 20px auto 10px 4%;
    width: 100%;
  }
  .sec311 ul {
    padding-left: 9%;
  }
  .sec31 .col-lg-3{
    border-bottom: 1px solid rgba(147,126,116,0.5);
  }
  .section4 {
    background: url(../Pictures/pf-back.png);
    max-height: fit-content;
    max-height: -moz-fit-content;
    min-height: fit-content;
    min-height: -moz-fit-content;
    background-size: 110%;
    background-position-x: center;
    background-repeat: no-repeat;
    padding-top: 8%;
    padding-bottom: 10%;
  }
  .sec41{
   width: 50%;
   height: 32em;
   padding:0;
   background-repeat: no-repeat !important;
   background-size: cover !important;
 }
 .dots{
  height: 0.25em;
  width: .25em;
  border-radius: 50%;
  display: none;
  margin: 0em .3em .1em .3em;
}
.active-dots{
  background-color: rgb(9,86,159);
  display: inline-block;
}
.white{
  background-color: white !important;
}
.white-nav-dots{
  background-color: white;
}
.black-nav-dots{
  background-color: black;
}
.sec41:hover .dots{
  display: inline-block;
}
.nav-elements li a:hover .dots{
  display: inline-block;
}
.nav-elements li a:active .dots{
  display: inline-block;
}
.active-d{
 display: inline-block;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
 color: white;
 background-color: transparent;
 font-weight: bold;
}
.active{
  color: rgb(9,86,159) !important;
  background-color: transparent;
  font-weight: bold;
}
}
.sec41 h1{
  background-color: rgba(0,0,0,0);
  font-family: Gill Sans MT;
  color: white;
  height: 100%;
  width: 100%;
  padding: 0px 0 0 0;
  position: inherit;
  top: 0;
  text-align: center;
  display: block;
  align-items: center;
  padding-top: 33%;
  margin: 0;
  transition: background-color .25s ease-in-out;
  -moz-transition: background-color .25s ease-in-out;
  -webkit-transition: background-color .25s ease-in-out;
}
.txt2{
  text-transform: uppercase;
  font-style: initial !important;
  padding: 0 !important;
  vertical-align: middle;
  text-align: center !important;
  line-height: 1em !important;
  color: white !important;
  height: 100%;
  background: rgba(0,0,0,0.2) !important;
  margin-top: 0;
  margin-bottom: 0;
  font-family: gill sans mt !important;
  font-size: 2em !important;
}
.sec41:hover .txt2{
  background-color: rgba(0,0,0,0.5) !important;
  font-size: 1.8em;
  height: 100%;
  margin-top: 0;
}
.sec4-a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  width: 100%;
  height: 100%;
  display: block;
  padding-top: 48%;
}
.sec4-a:hover{
  text-decoration: none;
  color: inherit;
}
.sec411{
 background: url(../Pictures/ph-marketing.png);
 background-size: cover;
 background-position: center;
 padding: 0;
 background-repeat: no-repeat;
}
.sec412{
 background: url('../Pictures/ph-branding.png');
 background-size: 29em;
 background-position: left;
}
.sec413{
 background: url('../Pictures/ph-digital.png');
 background-size: cover;
 background-position: center;
}
.sec414{
 background: url('../Pictures/ph-comm.png');
 background-size: cover;
 background-position: center;
}
.sec415{
 background: url('../Pictures/ph-media.png');
 background-size: cover;
}
.sec416{
 background: url('../Pictures/ph-prod.png');
 background-size: cover;
 background-position: center;
}
.sec311{
  font-family:Gill Sans MT;
}
.sec311 ul{
  padding-left: 2em;
}
.sec311 li{
  font-size: 11px;
  line-height: 1.5em;
  list-style-type: initial;
}
.icon {
  width: 62px;
  height: 45px;
  margin-right: 5%;
  position: relative;
}
.active-ul {
  height: 100%;
  opacity: 1;
  transition-delay: 0s, 0s;
  display: block !important;
  margin-left: 5%;
}
.icon1{
  background: url(../Pictures/expicon1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.icon2{
  background: url(../Pictures/expicon2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.icon3{
  background: url(../Pictures/expicon3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.icon4{
  background: url(../Pictures/expicon4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.dropdown-content {
  height: 0px;
  min-width: 160px;
  z-index: 1;
  opacity: 0;
  transition-property: opacity, visibility;
  transition-duration: .4s, 0s;
  transition-delay: 0s, .4s;
  display: none;
  margin: 0;
}
/*.sec311:hover .dropdown-content {
  height: 100%;
  opacity: 1;
  transition-delay: 0s, 0s;
}
.sec311:hover .txt {
  color: white;
  font-size: 15px;
  display: flex;
  transition: all 0.3s ease-in-out 0s, visibility 0s;
  }*/
  .txt:hover {
    color: rgb(0,88,169) !important;
  }
  .dropdown-content li:hover {
    color: #246aaa;
  }
  @-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }

    to {
      -webkit-mask-position: -50%;
    }
  }
  .section6 {
    min-height: fit-content;
    min-height: -moz-fit-content;
    background: url(../Pictures/bommag-back.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 6%;
  }
  .slick-track {
    display: inline-flex;
    outline-color: #0000;
    margin-left: 48px;
    height: 100%;
  }
  .section6 .txt {
    font-family: bodoni;
    font-size: 20px;
    width: 100%;
    padding-top: 15%;
    padding-bottom: 6%;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(to right, rgb(172, 100, 84) 0%, rgb(241, 213, 205) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .slick-initialized .slick-slide {
    display: block;
    height: fit-content;
    height: -moz-fit-content;
  }
  .slider {
    width: 100%;
    margin-right: 0px;
    overflow: hidden;
    height: fit-content;
    height: -moz-fit-content;
  }
  .slick-slide {
    margin: 0px 20px;
    outline-color: #0000;
  }
  .slick-slide img {
    width: 100%;
    margin: auto;
  }
  .slick-prev:before,
  .slick-next:before {
    color: black;
    display: none !important;
    outline-color: #0000;
  }
  .slick-slide {
    transition: all ease-in-out .3s;
    outline-color: #0000;
    opacity: .2;
  }
  .slick-active {
    opacity: .5;
    outline-color: #0000;
  }
  .slick-current {
    opacity: 1;

    outline-color: #0000;
  }
  @media (max-width: 768px) {
    .lazy {
      width: 95%;
      min-height: unset;
      height: fit-content;
      height: -moz-fit-content;
    }
    .lazy .slick-track{
      left: 0;
      margin-left: 0;
    }
    .lazy .tb-slider{
      height: unset !important;
    }
    .lazy .tb-slider tr{
      height: fit-content;
      height: -moz-fit-content;
    }
  }
  .lazy {
    overflow: hidden;
    margin: 0 auto;
    width: 80%;
  }
  .lazy .slick-track{
    left: 0;
    margin-left: 0;
    height: 100%;
  }
  .ss {
    height: 32em;
    opacity: 1;
    margin: 0.5em;
  }
  .ss1{
    background-image: url(../Pictures/bm1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .ss2{
    background-image: url(../Pictures/bm2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .ss3{
    background-image: url(../Pictures/bm3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .ss4{
    background-image: url(../Pictures/bm4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .info{
    max-width: 100%;
    max-height: 30%;
    display: inline-block;
    margin: 69em 0 0 0;
    background: white;
    padding: .4em;
    width: 100%;
  }
  .info h1{
    font-family: bodoni;
    font-size: 19px;
    position: relative;
    margin: 0;
    color: black;
    width: fit-content;
    width: -moz-fit-content;
  }
  .slick-dots{
    display: none !important;
  }
  .info p {
    font-family: gill sans mt;
    font-size: 14px;
    color: #8d8d8d;
  }
  .section5 {
    background: url(../Pictures/title_client.png),url(../Pictures/clientbg.png);
    background-repeat: no-repeat;
    min-height: fit-content;
    min-height: -moz-fit-content;
    max-height: 100%;
    background-size: 123%,cover;
    padding-top: 5%;
    padding-bottom: 5%;
    background-position: 50% 2%,center;
  }
  .txt4 {
    font-size: 20px;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 5%;
    width: 100%;
  }
  .sec41:hover .txt2 a {
    background: linear-gradient(to right, #b57667 0%, #efe1de 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .txt5 {
    display: none;
    font-size: 15px;
    text-align: center;
    font-family: bodoni;
    color: rgb(0,88,169);
    font-style: italic;
    margin: 0 auto;
    width: 100%;
  }
  .txt5-sm {
    display: block;
    font-size: 20px;
    text-align: center;
    font-family: bodoni;
    color: rgb(0,88,169);
    font-style: italic;
    margin: 0 auto;
    padding-top: 16%;
    width: 100%;
  }
  .next-sign {
    background-image: url(../Pictures/next-sign.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25px;
    width: 25px;
  }
}
button.navbar-toggle.collapsed {
  border: 0;
}
.navbar-toggle .icon-bar:nth-of-type(2){
  width: 20px
}
.navbar-toggle:hover .icon-bar{
  background-color: black;
}
.empty-space-ul{
  height: 20px;
  width: 20px;
  display: block;
}
.sec4-dots {
  background: linear-gradient(to right, #b57667 0%, #efe1de 100%);
  height: 0.35em;
  width: 0.35em;
  margin: 0em .2em 0.2em .3em;
}
.tb-slider {
  width: inherit;
  height: -webkit-fill-available;
  height: -moz-fill-available;
}
.slider .container{
  width: inherit;
}
.section7 {
  background: url(../Pictures/contact-title.png),url(../Pictures/contact-bg.png);
  min-height: fit-content;
  min-height: -moz-fit-content;
  background-size: 83%,cover;
  background-position: 50% 4%,center;
  background-repeat: no-repeat;
}
.txt6 {
  display: none;
  font-size: 15px;
  padding-top: 10%;
  text-align: center;
  font-family: bodoni;
  font-style: italic;
  background: linear-gradient(to right, rgb(160, 102, 89) 0%, rgb(243, 222, 215) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.txt6-sm {
  display: block;
  font-size: 20px;
  text-align: center;
  margin: 0;
  font-family: bodoni;
  font-style: italic;
  background: linear-gradient(to right, rgb(160, 102, 89) 0%, rgb(243, 222, 215) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1.txt6-sm:nth-of-type(2) {
  padding-top: 19%;
}
input[type="text"], input[type="password"] {
  box-sizing: border-box;
  padding: 1em 0em 0em 2em;
  width: -webkit-fill-available;
  width: -moz-fill-available;
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #272727;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  transition: 0.2s ease;
  background: rgb(57,58,63);
  position: relative;
  display: block;
  margin: 0 auto;
  font-size: 1em;
  color: white;
  outline-color: rgba(0,0,0,0);
}
input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid rgb(9,86,159);
  transition: 0.2s ease;
  outline-color: rgba(0,0,0,0);
}
input[type="submit"] {
  width: 17em;
  height: 32px;
  background: rgba(0,0,0,0);
  border: 2px solid rgb(9,86,159);
  color: white;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
  margin: 2em auto 10% auto;
  display: block;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
  outline-color: rgba(0,0,0,0);
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
  outline-color: rgba(0,0,0,0);
}
.navbar-default .navbar-nav > li > a {
  color: black;
  width: 9em;
  padding: 1em 0em 0em 0em;
  text-align: center;
  font-family: gill sans mt;
  margin: 0 auto;
}
.or {
  position: absolute;
  top: 180px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: #DDD;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
}
.section7 textarea {
  border: 1px solid #272727;
  background: rgba(0,0,0,0);
  color: grey;
  position: relative;
  display: block;
  margin: 2em auto;
  font-size: 1em;
  width: 100%;
  height: 100px;
}
@supports (-ms-ime-align: auto) {
  .section7 textarea:focus {
    border: 1px solid rgb(9, 86, 159);
  }
}
.section7 textarea:focus{
  outline-color: rgb(9,86,159)
}
.left{
  background: rgb(9,86,159);
  padding-bottom: 1em;
}
.left h1,h3{
  font-size: 1em;
}
.right{
  background: url(../Pictures/map.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 16em;
  padding: 0;
  margin: 0;
}
.section1{
  padding: 0 !important;
  min-height: fit-content;
  min-height: -moz-fit-content;
  max-height: 100%;
  height: 30em;
}
.section1 img{
  max-width: 100%;
  max-height: 100%;
  width: -webkit-fill-available;
  width: -moz-max-content;
  width: -ms-max-content;
  height: inherit;
}
.section5 .container{
  padding-left: 0;
}
.sec1-sc { 
 width: inherit;
 height: 100%;
}

.sec1-sc > div { 
  position: absolute;
  height: inherit;
  width: inherit;
}
.twoblocks {
  padding-top: 4%;
}
.twoblocks h1{
  font-family: bodoni;
  color: white;
  font-style: italic;
  font-size: 1.2em;
}
.twoblocks h3{
  font-family: Gill Sans MT;
  color: white;
  margin: 1em;
}
.social-icon {
  width: 14px;
  height: 14px;
  padding-right: 12%;
}
.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
  box-shadow: 0px 1px 15px grey;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  padding-top: 1em;
  background: white;
  margin: 1em 0 0 0;
  height: fit-content;
  height: -moz-fit-content;
  overflow: visible;
  max-height: unset;
}
nav > li {
  border-bottom: 1px solid gray;
  padding: 1em;
}
#cd-vertical-nav{
  display: none;
}
.trait{
  display: none;
}
.element-scrolled:not(.active){
  color:black !important;
}

.element-scrolled:not(.active){
  color:black !important;
}
.second-navbar-custom
.top-navbar{
  float: inherit !important;
}
.second-nav-custom li:nth-of-type(1) a,
.second-nav-custom li:nth-of-type(8) a{
  margin: 0 !important;
  padding: 0 !important;
  color: black !important;
  text-decoration: none !important;
}
.back-close{
  color: rgb(132,133,137);
  position: initial;
}
.second-nav-custom li:nth-of-type(1) a:hover .back-close{
  color: black;
  text-decoration: none;
}
.second-nav-custom li:nth-of-type(8) a:hover .back-close{
  color: black;
  text-decoration: none;
}
.mark-back{
  display: none;
}
@media (min-width: 450px) and (max-width: 501px){
  .sec41 {
    height: 17em;
  }
}
@media (min-width: 500px) and (max-width: 551px){
  .sec41 {
    height: 23em;
  }
}
@media (min-width: 550px) and (max-width: 601px){
  .sec41 {
    height: 26em;
  }
}
@media (min-width: 600px) and (max-width: 651px){
  .sec41 {
    height: 27em;
  }
}
@media (max-width: 650px){
  .txt2{
    font-size: 1.5em !important;
  }
}
@media (max-width: 450px){
  .sec41{
    height: 16em;
  }
}
@media (max-width: 350px){
  .sec41{
    height: 12em;
  } 
  .txt2{
    font-size: 1.2em !important;
  }
}
.product-list {
  margin: 2.3em 0em 2em 0em;
}
.product-list .slider{
  width: 100%;
  height: fit-content;
  height: -moz-fit-content;
}
@media (min-width: 200px) and (max-width: 651px){

}
.product-list .slick-list{
  height: inherit;
}
.slick-prev .slide-next{
  display: none;
}
.custom-slider .slick-dots{
  bottom: 5px;
}
.custom-slider .slick-dots li button:before{
  color: white !important;
}
.custom-slider .slick-dots li{
  margin: 0;
}
.custom-ss{
  margin: 0 !important;
}
.client-info h1{
  font-family: Gill Sans Mt;
  font-weight: bold;
  margin: 0;
  font-size: 7vw;
}
.client-info .fab{
  color: black;
  font-size: 4vw;
}
.social-info {
  display: inline-flex;
  position: relative;
  padding: 5% 0 0 7%;
}
.social-info h2{
  font-size: 4vw;
  padding-left: 1em;
}
.trait2 {
  background: #b5b5b5;
  height: 1px;
  margin: 8% auto;
  display: block;
}
.categ{
  display: inline-flex;
}
.categ h3 {
  font-size: 2.4vw;
  padding-right: 1em;
  margin: 0;
  float: left;
}
.categ a:nth-of-type(2) h3{
  padding: 0em 1em;
  border-right: 1.5px solid black;
  border-left: 1.5px solid black;
}
.categ a:nth-of-type(3) h3{
  padding-left: 1em;
}
.client-info a:hover{
  color: initial;
  text-decoration: none;
}
.product-logo{
  margin: 3em 0em 2em 0em;
}
.product-logo img{
  height: 100%;
  width: 100%;
}
.info-box
.col-xs-2{
  width: 21.666667%;
}
.info-box
.client-info{
  width: 78.333333%;
}
.info-box
.slick-track{
  margin-left: 0
}
.top-navbar-custom{
  padding: 3em 1em 1em 1em;
  box-shadow: 0px 1px 15px grey;
  background: white;
}
.row-eq-height .col-xs-6 {
  padding: 1%;
}
@media (max-width: 768px) {
 .second-navbar-custom{
  display: none;
}
}
@media (max-width: 767px){
  #marketing-secnav
  .second-nav-custom li:nth-of-type(1){
    display: none !important;
  }
  #marketing-secnav
  .second-nav-custom li:nth-of-type(8){
    display: none !important;
  }
  .second-navbar-custom{
    padding: 3em 1em 1em 1em;
    background: white;
    border: 0;
  }
  .accordion{
    display: block;
  }
  .nav > li {
    padding: 1em;
  }
  .navbar-default .navbar-nav > li > a{
    width: fit-content;
    width:-moz-fit-content;
    padding: 1em 0 1em 0;
    margin: 0 auto;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
   color: black;
   background-color: transparent;
   font-weight: bold;
 }
 .white{
  background-color: black !important;
}
}
ul { 
  list-style-type: none; 
}
.accordion {
  margin-left: 1%;
  width: -webkit-fill-available;
  width: -moz-fill-available;
  background: #FFF;
  border: 1px solid black;
  padding: 0;
}
.accordion .link {
  cursor: pointer;
  display: block;
  padding: 0.5em 1em 0.5em 0;
  color: rgb(0,88,169);
  font-size: 2em;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding-left: 1em;
}
.accordion li:last-child .link {
 border-bottom: 0; 
}
.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}
.accordion li.open .link { 
  color: rgb(0,88,169);
}
.accordion li.open i { 
  color: rgb(0,88,169); 
}
.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.submenu {
  display: none;
  font-size: 14px;
  padding: 0;
}
.submenu li { 
  border-bottom: 1px solid #4b4a5e; 
}
.submenu a {
  display: block;
  text-decoration: none;
  color: #8f8c8c;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.submenu a:hover {
  color: rgb(0,88,169);
  font-weight: bold;
}
.custom-navbar-collapsed{
  padding: 3em 1em 1em 1em !important;
  background: white;
  padding: 0;
  overflow: auto;
  height: -webkit-fill-available;
  height: -moz-fill-available;
}
.element-scrolled:hover{
  color: black;
}
#cd-vertical-nav {
  display: none;
}
.regular{
  width: 100% !important;
}
@media (min-width: 520px) and (max-width: 769px) {
  .section4{
    padding-top: 10em;
  }
}
@media (max-width: 320px){
  .section3 h1 {
    font-size: 1.2em;
  }
}
@media (max-width: 767px) {
  .navbar-default {
    padding-top: 30px
  }
}
.products-icons {
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 0px 5% 5%;
}
@media (min-width: 260px) and (max-width: 328px) {

  .categ a:nth-of-type(2) h3 {
    padding: 0;
    border-right: 0;
    border-left: 0;
  }
}
@media (min-width: 499px) and (max-width: 600px) {
  .info-box .col-xs-2 {
    width: 34.666667% !important;
  }
}
.social-info h2 {
  padding: 0;
  margin: 1px;
}
@media (min-width: 550px) and (max-width: 767px) {
  .categ h3{
    font-size: 2.9vw;
  }
}
@media (min-width: 260px) and (max-width: 601px) {
  .categ a:nth-of-type(3) h3 {
    padding-left: 5px;
  }
  .info-box .col-xs-2 {
    width: 34.666667%;
    padding-right: 0;
  }
  .info-box 
  .client-info {
    width: 65.333333%;
    padding: 0;
  }
  .categ {
    display: block;
    padding-right: 0;
  }
  .client-info
  .row
  .col-xs-12:nth-of-type(3){
    padding-right: 0;
    width: -webkit-fill-available;
    width: -moz-fill-available;
  }
  .categ a:nth-of-type(2) h3 {
    padding: 0em 5px;
    border-right: 0.5px solid black;
    border-left: 0.5px solid black;
  }
}
@media (min-width: 599px) and (max-width: 769px) {
  .info-box .col-xs-2 {
    width: 30.666667%;
  }
  .info-box .client-info {
    width: 65.333333%;
    padding: 0;
  }
  .categ h3 {
    font-size: 1.7em;
  }
}
footer .container{
  margin-left: 4%;
  margin-right: 4%;
  max-width: -webkit-fill-available;
  max-width: -moz-fill-available;
}
@media(min-width: 450px) and (max-width: 768px) {
  .twoblocks h1 {
    font-family: bodoni;
    color: white;
    font-style: italic;
    font-size: 16px;
  }
  .twoblocks h3 {
    font-size: 12px
  }
  .right{
    height: 20em;
  }
}
footer h1{
  font-size: 14px;
  text-align: left;
}
.phone{
  background: url(../Pictures/contact-1_0005_Shape-10.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.opening{
  background: url(../Pictures/contact-1_0012_Shape-11.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.mail{
  background: url(../Pictures/contact-1_0011_Shape-12.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.facebook{
  background: url(../Pictures/contact-1_0002_Shape-13.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.insta{
  background: url(../Pictures/contact-1_0001_Shape-14.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.linkedin{
  background: url(../Pictures/contact-1_0000_Shape-15.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.lazy-ss-dots{
  width: fit-content;
  width: -moz-fit-content;
  margin: 2% auto;
}
.dot-lazy {
  cursor: pointer;
  height: 3px;
  width: 40px;
  background-color: white;
  border-radius: 0;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin: 0 auto;
  margin-right: 4px;
}
.active-lazy, 
.dot-lazy:hover {
  background-color: rgb(0,88,169);
}
.slick-active, .slick-list, .slick-slide{
  opacity: 1 !important
}
.close-sign {
  background-image: url(../Pictures/close-sign.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25px;
  width: 25px;
}
.close-ic {
  background-image: url(../Pictures/close-ic.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.products-navbar li a:hover .dots{
  background-color: black !important;
}
.client-info .row:nth-of-type(1){
  height: inherit;
}
.client-info .col-xs-12{
  height: 29%;
  white-space: nowrap; 
}
.prod-accordion {
  margin-left: 15px
}
.product-list .slider {
  min-height: unset;
}
.top-navbar-custom .icon-bar {
  background-color: black !important;
}
@-moz-document url-prefix(){

 .tb-slider {
  height: inherit;
}
.left{
  height: inherit;
}
.section5{
  min-height: -moz-fit-content;
  max-height: -moz-fit-content;
  height: auto !important;
}
}
@supports (-ms-ime-align: auto) {
 .tb-slider{
  height: 100%;
}
.sec1-sc > div {
  width: 100%;
}
.section1 img {
  width: 100%
}
.lazy-ss-dots {
  display: table;
}
.section5 {
  min-height: 70% ;
}
.section6 {
  margin-bottom: 5%;
}
}